<section class="bizman__page">
    <section class="header">
        <mat-toolbar class="header__toolbar" color="primary">
            <mat-toolbar-row class="header__toolbar__row">
                <section class="header__toolbar__row__actions header__toolbar__row__actions--left">
                    <button (click)="goBack()" mat-icon-button class="icon-back">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </section>
                <section class="title">State of San Andreas</section>
                <!-- <span class="spacer"></span> -->
                <section class="header__toolbar__row__actions header__toolbar__row__actions--right">
                    <button (click)="close()" mat-icon-button class="icon-close">
                        <mat-icon>close</mat-icon>
                    </button>
                </section>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
    <section class="content">
        <button routerLink="welcome">welcome</button>
        <button routerLink="business">business</button>
        <loader *ngIf="showLoader"></loader>
        <router-outlet></router-outlet>
    </section>
</section>