.bizman__page {
    height: 95%;
    padding: 1%;
    display: flex;
    flex-direction: column;

    .content {
        padding: 15px;
        background-color: #ffffff7a;
        overflow: auto;
    }

    .header {
        &__toolbar {
            &__row {
                justify-content: space-between;
                display: flex;
            }
        }
    }
}