<loader *ngIf="showLoader"></loader>
<mat-card class="card tab-card">
    <business-info *ngIf="business" [business]="business"></business-info>

    <mat-tab-group *ngIf="business" mat-stretch-tabs mat-align-tabs="start" class="tab-group">
        <mat-tab label="Management">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">work_outline</mat-icon>
                Management
            </ng-template>
        </mat-tab>

        <mat-tab label="Personnel">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">people</mat-icon>
                Personnel
            </ng-template>
        </mat-tab>

        <mat-tab label="Assets">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_balance</mat-icon>
                Assets
            </ng-template>
        </mat-tab>

        <mat-tab label="Documents">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">folder</mat-icon>
                Documents
            </ng-template>
            <section class="search-bar">

            </section>
            <section class="documents-results-content">

            </section>
        </mat-tab>

        <mat-tab label="Legal">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">policy</mat-icon>
                Legal
            </ng-template>
            <section class="legal-content tab-content">
                <section *ngIf="business.orgTypes?.length > 0" class="organization-type form-field-container legal-details-section">
                    <section class="property field-label">Legal organization type</section>
                    <mat-divider [vertical]="true" class="content-divider-vertical content-divider"></mat-divider>
                    <mat-chip-list *ngFor="let orgType of business.orgTypes" class="value">
                        <mat-chip>
                            {{orgType.description}}
                        </mat-chip>
                    </mat-chip-list>
                </section>

                <mat-divider class="content-divider-no-spacing content-divider"></mat-divider>

                <!-- <section *ngIf="legalStatusList?.length > 0" class="legal-statuses-container legal-details-section">
                    <section class="field-label property">Legal status</section>
                    <mat-divider [vertical]="true" class="content-divider-vertical content-divider"></mat-divider>
                    <business-legal-status-list class="value" [legalStatusList]="legalStatusList"></business-legal-status-list>
                </section> -->

                <mat-divider class="content-divider-no-spacing content-divider"></mat-divider>
            </section>
        </mat-tab>
    </mat-tab-group>
</mat-card>



