.business-card {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &.loader-card {
        min-height: 40px;
    }

    .actions {
        margin-top: 2.5%;
        margin: 0;
        padding: 0;
    }

    .new-request-form {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;

        ::ng-deep .form-control {
            margin-top: 2.5% !important;
            //TODO remove important
        }

        .participants-chip-list {
            ::ng-deep .mat-chip-list-wrapper {
                .mat-standard-chip {
                    margin: 2px;
                }
            }
        }

        .mat-table {
            ::ng-deep .mat-error {
                margin-top: 2.5%;
                margin-bottom: 2.5%;
            }
        }

        :first-child {
            margin-top: 0;
        }
    }
}