<section *ngIf="nativeService.shouldShowUI()" class="bizman__page">
    <section class="header">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Business Manager</span>
                <span class="spacer"></span>
                <button (click)="close()" mat-icon-button class="icon-close">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
    <section class="content">
        <loader *ngIf="showLoader"></loader>
        <router-outlet></router-outlet>
    </section>
</section>