<mat-card *ngIf="showLoader" class="card business-card loader-card">
    <loader></loader>
</mat-card>

<mat-card *ngFor="let request of requests" class="card business-card request-info-card">
    <request-info [request]="request"></request-info>

    <mat-divider class="content-divider content-divider-horizontal"></mat-divider>

    <mat-card-actions class="actions">
        <button (click)="goToDetails(request.id)" class="action" mat-raised-button color="primary">View</button>
    </mat-card-actions>
</mat-card>