<mat-card class="bussiness-card">
    <mat-card-header *ngIf="bussiness.name || bussiness.subtitle">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title *ngIf="bussiness.name">
            {{bussiness.name}}   
        </mat-card-title>
        <mat-card-subtitle *ngIf="bussiness.subtitle">
            {{bussiness.subtitle}} 
        </mat-card-subtitle>
    </mat-card-header>
    
    <mat-divider class="content-divider" *ngIf="bussiness.name || bussiness.subtitle"></mat-divider>
    
    <mat-card-content class="card-content" *ngIf="bussiness.imgSrc">
        <img class="bussiness-card__image" mat-card-image [src]="bussiness.imgSrc" alt="soon">        
    </mat-card-content>

    <mat-divider class="content-divider" *ngIf="bussiness.imgSrc"></mat-divider>

    <p>
        ADDITIONAL DATA GOES HERE
        TODO: RBAC FOR EMPLOYEES AND ONE->MANY RELATION TO PERMISSIONS
        TODO: ASSETS
        TODO: BANK ACCOUNTS
        TODO: HIRE EMPLOYEES
        TODO: DELETE
    </p>

    <mat-divider class="content-divider"></mat-divider>

    <mat-card-actions class="actions">
        <button class="action" mat-raised-button color="warn">Delete</button>
    </mat-card-actions>

    
</mat-card>